body {
  background-color: lightblue;
}

h1 {
  margin-top: 50px;
  color: black;
  font-size: 50px;
  text-align: center;
}

#form {
  text-align: center;
}

#loading {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  visibility: hidden;
}

input, button {
  display: inline;
  text-align: center;
  margin: auto;
}

input {
  font-size: 30px;
  min-width: 3em;
  min-height: 50px;
  display: block;
}

button {
  padding: 10px;
  font-size: 15px;
  width: 5em;
  height: 3em;
  margin-top: 25px;
  display: block;
}

.alert {
  margin-top: 15px;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

#footer {
  padding: 15px;
  background: #a8a8a8;
  background: 5;
  text-align: center;
  flex-shrink: 0;
}