<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./pages/index/style.css">
  <title>Weather Web App | Welcome</title>
</head>

<body>

  <div id="main">
    <div class="container">
      <h1>
    Simple Weather Web App
  </h1>

      <!-- <br><br><br> -->

      <div id="loading">
        <img src="./assets/img/Ripple-1.4s-100px.svg" alt="">
      </div>

      <div id="form">
        <input type="text" placeholder="Search City..." id="search-bar">
        <button class="btn btn-dark " id="search" type="button">Search</button>
        <button type="button" id="find-me" class="btn btn-dark ">Find Me</button>
      </div>
    </div>

    <% if (anything) { %>

      <div class="container">
        <div class="alert alert-danger">
          <p>
            The city <strong><%= city %></strong> cannot be found.
          </p>
        </div>
      </div>
      <% } %>

  </div>

  <div id="footer">
    <footer id=api-provider>Weather data fetched from <a href="https://openweathermap.org/">Open Weather Map API</a></footer>
  </div>


  <script type="text/javascript " src="./assets/js/jquery-3.3.1.min.js "></script>
  <script type="text/javascript " src="./assets/js/bootstrap.min.js "></script>
  <script type="text/javascript " src="./pages/index/main.js ">
  </script>
</body>





</html>